{% block gallery%}
<section id="gallery" class="gallery-section">
  <div class="gallery-container">
    <h2 class="gallery-title">Our Gallery</h2>
    <p class="gallery-subtitle">A glimpse into the elegance of Eiland Cigar Lounge</p>

    <div class="gallery-wrapper">

      {% if gallery_images %}
        <div class="gallery-track">
            {% for img in gallery_images %}
            <div class="gallery-item">
                <img src="{{ img.image.url }}" alt="{{ img.title }}">
                <div class="caption">
                    <h4>{{ img.title }}</h4>
                    <p>{{ img.caption }}</p>
                </div>
            </div>
            {% endfor %}
        </div>

        {% if gallery_images|length > 1 %}
        <button class="arrow prev">&#10094;</button>
        <button class="arrow next">&#10095;</button>
        {% endif %}

      {% else %}
        <p class="no-gallery" style="color: #aaa; margin-top: 30px;">
          Gallery images will appear soon.
        </p>
      {% endif %}

    </div>
  </div>
</section>



{% endblock %}